html {
  font-family: "Inter", sans-serif;
  background-color: #fffdf5;
  color: #1d1d1b;
}

body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.topbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

/* logo */

.topbar a img,
.topbar-logo {
  width: 46px;
  height: auto;
}

/*BURGER MENU*/
.nav {
  position: relative;
  z-index: 5;
}

.burger {
  width: 28px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  height: 2px;
  width: 100%;
  background: #000;
  display: block;
}

.nav ul {
  position: absolute;
  top: 52px;
  right: 8px;

  display: none;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;

  list-style: none;
  margin: 0;

  padding: 18px 20px;
  background: #e1dfd7;
  border-radius: 8px;
}

.nav.open ul {
  display: flex;
}
.nav ul li a {
  text-decoration: none;
  color: #1d1d1b;
  font-size: 18px;
  font-weight: 250;
  line-height: 25.67px;
  white-space: nowrap;
}

.nav ul li a:hover {
  opacity: 0.6;
}

.video-link,
.stud-link,
.tema-content.ux .ux-link,
.emergency-link,
.esso-link {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: #000;
  text-decoration: underline;
  text-underline-offset: 2px;
}
.tema-intro-title {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0.65px;
  text-transform: uppercase;
  margin: 0 0 40px;
}

.note-box h4 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.75px;
  margin: 0 0 12px;
}
.note-box {
  padding: 0;
  border: 0;
}

.note-box ul {
  margin: 0;
  padding-left: 18px;
}

.note-box li {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.75px;
}

.tema-strong {
  font-family: "Anton", sans-serif;
  font-weight: 800;
  font-size: 15px;
  line-height: 35px;
  letter-spacing: 0.75px;
  margin: 26px 0 20px;
  margin-top: 10%;
  margin-bottom: 10%;
}
.tema-text {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.75px;
}
.tema-text ul {
  margin: 0 0 16px;
  padding-left: 18px;
}

/* FOOTER */
.footer {
  background: #1d1d1b;
  color: #f6f4ef;
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
  padding: 46px 23px 60px;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer h2,
.footer h4 {
  font-size: 20px;
  font-weight: 350;
  line-height: 25.67px;
  margin: 0 0 8px;
}

.footer > div:first-child p a {
  display: block;
  margin: 0 0 6px;
  padding: 0;
  font-weight: 200;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 14px;
}

.social-icons a {
  display: inline-flex;
}

.social-icons img {
  width: 36px;
  height: auto;
  display: block;
}

.footer-column:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 16px;
  font-weight: 200;
  line-height: 32px;
  margin: 0;
}

.contact-item img {
  width: 18px;
  height: auto;
  display: block;
}

/* DESKTOP*/

@media (min-width: 1024px) {
  .burger {
    display: none;
  }

  .nav ul {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 0;
    background-color: transparent;
    padding-right: 5vw;
  }
  .tema-intro-title {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: 1.6px;
    margin: 0 0 70px;
    text-transform: uppercase;
    margin-left: -6%;
  }
  .note-box h4 {
    margin: 0 0 18px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1.2px;
  }
  .note-box {
    padding: 50px 50px;
    background-image: url("../images/blaa_boks.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120% 95%;
  }

  .note-box ul {
    margin: 0;
    padding-left: 22px;
  }

  .note-box li {
    font-size: 15px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 1.2px;
    margin: 0;
  }

  .video-link,
  .studio-link,
  .ux-link,
  .emergency-link,
  .esso-link {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: #000;
  }
  .tema-strong {
    font-family: "Anton", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.75px;
    margin: 26px 0 20px;
    margin-top: 10%;
    margin-bottom: 60px;
  }
  .tema-text {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.75px;
    margin-bottom: 10%;
  }
  .tema-strong,
  .tema-text {
    max-width: 90ch;
  }

  .footer {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 60px 8vw;
    gap: 0;
    align-items: start;
  }

  /* venstre kolonne */
  .footer > div:first-child {
    justify-self: start;
    text-align: left;
  }

  /* midterste kolonne */
  .footer-column:nth-child(2) {
    justify-self: center;
    text-align: center;
  }

  .footer-column:nth-child(2) .social-icons {
    justify-content: center;
    gap: 26px;
  }

  /* højre kolonne */
  .footer-column:nth-child(3) {
    justify-self: end;
    text-align: left;
  }
}
